---
export async function getStaticPaths() {
  const response = await fetch("http://127.0.0.1:1337/api/posts?populate=*");
  const { data } = await response.json();

  return data.map((post) => {
    return {
      params: { slug: post.attributes.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props

---

<h2>{post.attributes.title}</h2>
<p>{post.attributes.body}</p>
<img
  src={`http://127.0.0.1:1337${post.attributes.image.data.attributes.url}`}
  alt="{post.attributes.image.data.attributes.name}"
  />


