---
import { SEO } from "astro-seo";

const { title } = Astro.props;
import NavBar from  "../components/NavBar.astro"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description="JS (no TS) + Solid.js + Astro + Tailwind CSS + Flowbite template"
    />
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>
